body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.sidebar h2, .sidebar h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #f0f0f0;
}

.logout-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.logout-btn:hover {
    background-color: #45a049;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.stats {
    display: flex;
    gap: 20px;
}

.stat-card {
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stat-card p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

.dates {
    display: flex;
    gap: 20px;
}

.upload-btn, .clear-btn {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.upload-btn:hover, .clear-btn:hover {
    background-color: #45a049;
}

.table-container {
    margin-bottom: 20px;
    border-radius: 30px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
    
}

th, td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
    
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.download-links {
    display: flex;
    gap: 10px;
}

.download-links a {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.download-links a:hover {
    background-color: #45a049;
}

.btn-danger {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    margin-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    padding-left: 30px;
    padding-right: 30px;
}